.header{
  border-bottom: 1px solid #545454;
  padding-top: 45px;
  padding-bottom: 41px;
}
@media screen and (max-width: 900px){
  .header{
    padding: 28px 0 32px 26px;
  }
  .header__logo{
    width: 126px;
    height: 24px;
  }
}