.avatar-change-popup__container{
  width: 430px;
  background-color: #FFF;
  color: #000;
  border-radius: 10px;
  position: relative;
  padding: 35px;
  box-sizing: border-box;
}
.avatar-change-popup__close-button{
  background-color: transparent;
  border: none;
  position: absolute;
  top: -38px;
  right: -40px;
  background-image: url(../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.avatar-change-popup__close-button:hover{
  opacity: 60%;
}
.avatar-change-popup__caption{
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 54px;
}

@media screen and (max-width: 650px){
.avatar-change-popup__container{
  width: 282px;
  padding: 25px;
  box-sizing: border-box;
}
.avatar-change-popup__close-button{
  right: 0;
  top: -40px;
  width: 18px;
  height: 18px;
}
.avatar-change-popup__caption{
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 76px;
}
}